table {
    width: 100%;
  }

  .typicalbutton {
    border-block-color: black;
    background-color: #e7e7e7;
    min-height: 42px;
    text-transform: uppercase;
    margin: 10px;
  }


.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.lessons-table {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

}

tr:hover {
  background: whitesmoke;
  cursor: pointer;
}

.scrolling-container {
  overflow: auto;
}

mat-paginator {
  margin-bottom: 200px;
}

  /* td,th {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  } */

  /* .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  td, th {
    width: 25%;
  } */
.tools-container {
  display: flex; /* or inline-flex */
  /* height: 300px; */
  flex-flow: row wrap;
  justify-content: space-between;
}

.search-box{
  min-width: 60%;
  /* text-decoration: none;
  display: block; */

  /* padding: 1em; */
}

.other-tools {
  flex-flow: row wrap;
  /* justify-content: space-around; */
  /* text-decoration: none; */
  display: block;
}

.filter-box{
  min-width:15%
  /* text-decoration: none; */
  /* display: block; */
}

.dropbox {
  max-width: 30px;
  max-height: 30px;
  justify-content: center;

}



.select-all{
  margin: 5px 17px;
}

.actions-box {
  /* text-decoration: none; */
  /* display: block; */
}

.excel {color: green;}

.dropbox2 {
  max-width: 28px;
  max-height: 28px;
}
