.mat-card {
    margin: 10px;
    min-height: 100px;

    /* padding: 2px; */
    font-size: 18px;
    cursor: pointer;
    user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;

  /* text-align: center; */

  }

  .mat-form-field {
    padding-bottom: 15px;
  }

  .mat-tab-group {
    min-height: 400px;
    min-width: 800px;
    margin-bottom: 30px;
    background: #fff;
  }

  .full-width-table {
    width: 100%;
  }

  .table-container {
    overflow-x: auto;
    overflow-y: hidden;
  }

  .mat-icon {
    margin-right: 8px;
  }



/*examples  */
.example-tab-icon {
  margin-right: 8px;
}

.dialogspacing {
  padding: 10px;
}

.typicalbutton {
  border-block-color: black;
  background-color: #e7e7e7;
  min-height: 80px;
  text-transform: uppercase;
  margin: 10px;
}

.typicalbutton2 {

  min-height: 100px;
  font-size: 18px;



}

/* .mat-card {
  margin: 10px;
  min-height: 100px;

  font-size: 18px;
  cursor: pointer;
  user-select: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;

-webkit-user-drag: none;
-webkit-tap-highlight-color: transparent;


} */

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
  padding-left: 5px;
}

.card-container {
  justify-content: center;


}

.card { cursor: pointer; }


.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 10px;
}

.make-bold {
  font-weight: bold;
}

/* .mat-tab-group {
  min-height: 400px;
  margin-bottom: 30px;
  background: #fff;
} */

mat-slide-toggle {
  margin: 8px 0;
  display: block;
}

.full-width-table {
  width: 100%;
}

.table-container {
  overflow-x: auto;
  overflow-y: hidden;
}
mat-button-toggle-group {
  margin-left: 8px;
}






tr.example-detail-row {
  height: 0;
}


tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  min-height: 160px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  /* opacity: 0.5; */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-family: "Segoe UI", "Candara", Frutiger, "Frutiger Linotype", "Dejavu Sans",
  "Helvetica Neue", Arial, sans-serif;
}
.example-element-description-attribution2 {
  padding: 16px;
  /* opacity: 0.5; */
}
button {
  outline-style: none;
}

.ok-color {
  background-color: DarkGreen ;
  border: 1px solid green;
  color: white;

}

.not-ok-color {
  background-color: Red ;
  border: 1px solid red;
  color: white;

}

.detail-style {
  min-width: 60%;
  position: absolute;
}

.main-detail-style {
  min-width: 40%;
  position: absolute;
}

.rent-main-style {
  /* width: 70%; */
  position: relative;
}

.rented-style {

  padding: 3px;
  border-radius: 40px 20px;
  font-family: "Segoe UI", "Candara", Frutiger, "Frutiger Linotype", "Dejavu Sans",
  "Helvetica Neue", Arial, sans-serif;
  font-size: 14px; font-style: normal; font-variant: normal; font-weight: 500;

}

.font-test {
  font-family: "Segoe UI", "Candara", Frutiger, "Frutiger Linotype", "Dejavu Sans",
  "Helvetica Neue", Arial, sans-serif;

}

/* mat-form-field {
  padding: 10px;
display: flex;
flex-direction: column;
align-items: flex-start;
} */



tr.example-element-row:hover {
background: whitesmoke;
}

tr.example-element-row:active {
background: #efefef;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  margin-top: 90px;
}

.example-radio-button {
  /* margin: 5px; */
  line-height: normal;
  flex-wrap: wrap;
}

.money {
  text-align: right;
}



[app-disabled] {
  opacity: 0.96;
  pointer-events: none;
}


.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.example-radio-button {
  margin: 25px;
}
.filter-container {
  object-position: right ;
  padding-left: 10px;
}

.example-margin {
  margin: 0 25px;
}


.happy {
  /* background: orange; */
  /* height: 300px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  min-width: 400px !important;
}

.matIconSpacing {
  margin-right: 18px;
  }


  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.displayName:disabled {
  background: white;
  color: black;
}

.money-font {
  font-size: 19px;
}

.pay-container {
  display:  flex ;
  /* height: 300px; */
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 5px;
}

.pay-container2 {
  display:  inline-flex ;
  /* height: 300px; */
  flex-flow: row wrap;
  /* justify-content: space-between; */
  padding-bottom: 5px;
  align-items:flex-start;
}

.container-c1 {
  flex-direction: column ;
  display: inline-flex ;
  /* min-width: 25%; */
  flex-flow: column wrap;
  flex-wrap: wrap;

  /* margin-left: 5px; */
  /* justify-content: space-between; */
  /* min-height: 300px; */
}

.search-student{
  min-width: 48%;
  font-size: 1.5em;
  /* text-decoration: none;
  display: block; */

  /* padding: 1em; */
}

.paymentColumn {
  padding-left: 13px;
}

.small-items {
  max-width: 5%;
}

.small-small-items {
  max-width: 4%;
}

.medium-items {
  max-width: 10%;
}
.large-items {
  min-width: 15%;
}
.paystack {
  flex-flow: row wrap;
  min-width:35%;

  /* justify-content: space-around; */
  /* text-decoration: none; */
  display: block;
}

.filter-box{
  min-width:20%
  /* text-decoration: none; */
  /* display: block; */
}

.excel {color: green;}

/* Medium screens */
@media all and (max-width: 800px) {
  .pay-container, .pay-container2 {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .pay-container, .pay-container2 {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}
