<form #guestForm="ngForm">
  <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

    <mat-card fxFlex="20" fxLayout="column">
      <!-- <div fxLayout="column" fxFlex> -->

      <mat-toolbar>ADVANCED POSTING</mat-toolbar>









      <div class="postingdetail">
        <!-- <mat-checkbox (change)= "checkStat('session')" class="example-margin" [(ngModel)]= "sessionMarker">

        </mat-checkbox> -->
        <mat-form-field fxFlex>
          <mat-label>SESSION</mat-label>
          <mat-select [(ngModel)]= "selectedLedgerInfo.session" name = "session"
                      required="sessionMarker"

          >
            <mat-option *ngFor= "let stat of sessionList" [value]= "stat">
              {{stat}}
            </mat-option>
          </mat-select>
          <mat-error>Session Required!</mat-error>

        </mat-form-field>
      </div>

      <div class="postingdetail">
        <!-- <mat-checkbox (change)= "checkStat('semester')" class="example-margin" [(ngModel)]= "semesterMarker">
        </mat-checkbox> -->

        <mat-form-field fxFlex>
          <mat-label>SEMESTER</mat-label>
          <mat-select [(ngModel)]= "selectedLedgerInfo.semester" name = "semester"
                      required = "semesterMarker"

          >
            <mat-option *ngFor= "let stat of semesterList" [value]= "stat">
              {{stat}}
            </mat-option>
          </mat-select>
          <mat-error>Semester Required!</mat-error>

        </mat-form-field>
      </div>






      <div class="postingdetail" fxFlex>

        <label id="example-radio-group-label">Fee Type</label>
        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                         required = true
                         name = "transacType2"
                         [(ngModel)]="transacType2"
                         (change) = "checkFeeType()"
        >
          <mat-radio-button class="example-radio-button" value= 1><mat-form-field fxFlex>
            <input  matInput type="number"
                    placeholder="AMOUNT" [(ngModel)]=  "selectedLedgerInfo.amount"
                    name = "amount"
                    required = "paidMarker"
                    [disabled]= "!paidMarker"
            >
            <span matSuffix>.00</span>
            <mat-error>Amount Required!</mat-error>


          </mat-form-field>
          </mat-radio-button>
          <mat-radio-button class="example-radio-button" value= 2>
            <mat-form-field fxFlex >
              <input matInput  type="text" placeholder="PRODUCT"
                     [(ngModel)]=  "selectedProduct"
                     [required]= "productMarker"
                     [appDisable]= "!productMarker"

                     [matAutocomplete]="auto11"
                     [formControl]="stateCtrl"
                     name = "product"


              >
              <mat-hint>e.g. School Fees etc</mat-hint>
              <mat-error>Insert Product!</mat-error>

              <mat-autocomplete #auto11="matAutocomplete"
                                [displayWith]="displayFn" [panelWidth]="800"
                                (optionSelected)= "calcTotal()"

              >
                <mat-option
                  *ngFor= "let state of filteredStates | async"
                  [value]="state"


                >

                  <span class="make-bold">

                    {{state.prodCode}}  </span>
                  | {{state.description}} |


                  <span class="filter-container">&#8358;{{state.price | number: '1.2-2'}}  </span>

                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="postingdetail">


        <mat-form-field fxFlex appearance="outline"
                        *ngIf = "paidMarker">
          <mat-label>DETAILS</mat-label>
          <textarea matInput [(ngModel)] = "selectedLedgerInfo.details"

                    rows = "5" cols = "60" placeholder="DETAILS"
                    class = "level2-bar" name=details required="paidMarker"></textarea>
        </mat-form-field>
      </div>

      <!-- <div class="postingdetail" fxFlex>

          <mat-checkbox name="paidMarker"  (change)= "checkStat('paid')" class="example-margin" [(ngModel)]= "paidMarker">
          </mat-checkbox>




          <mat-form-field fxFlex>
              <input  matInput type="number"
              placeholder="AMOUNT" [(ngModel)]=  "selectedLedgerInfo.amount"
              name = "amount"
              required = "checkFeeType(1)"
              [disabled]= "checkFeeType(2)"
              >


          </mat-form-field>
      </div> -->
      <!-- <div fxFlex>
          <mat-checkbox  (change)= "checkStat('paymentMode')" class="example-margin" [(ngModel)]= "paymentModeMarker">

          </mat-checkbox>
          <mat-form-field >
              <mat-label>PAYMENT MODE</mat-label>
              <mat-select [(ngModel)]= "selectedLedgerInfo.paymentMode" name = "paymentMode"
              required = "paymentModeMarker"
              [disabled]= "!paymentModeMarker"

              >
                  <mat-option *ngFor= "let stat of paymentModeList" [value]= "stat">
                      {{stat}}
                  </mat-option>
              </mat-select>
              <mat-error>Payment Mode Required!</mat-error>

          </mat-form-field>
      </div> -->



      <!-- <div class="postingdetail" fxFlex>
          <mat-checkbox name="productMarker"  (change)= "checkStat('product')" class="example-margin" [(ngModel)]= "productMarker">

          </mat-checkbox>
          <mat-form-field fxFlex [appDisable]="!productMarker">
          <input matInput  type="text" placeholder="PRODUCT"
          [(ngModel)]=  "selectedProduct"
          required= "productMarker"
          [disabled]= "!productMarker"
          [matAutocomplete]="auto11"
          [formControl]="stateCtrl"
          name = "product"


          >
          <mat-hint>e.g. School Fees etc</mat-hint>
          <mat-error>Insert Product!</mat-error>

          <mat-autocomplete #auto11="matAutocomplete"
          [displayWith]="displayFn" [panelWidth]="800"
          (optionSelected)= "calcTotal()"

          >
              <mat-option
              *ngFor= "let state of filteredStates | async"
              [value]="state"


              >

              <span class="make-bold">

                {{state.prodCode}}  </span>
                | {{state.description}} |


                <span class="filter-container">&#8358;{{state.price | number: '1.2-2'}}  </span>

              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
      </div> -->

      <div class="postingdetail" fxFlex>
        <mat-checkbox name="departmentMarker"  (change)= "checkStat('programme')" class="example-margin" [(ngModel)]= "departmentMarker">

        </mat-checkbox>
        <mat-form-field fxFlex>
          <mat-label>PROGRAMME</mat-label>
          <mat-select [(ngModel)]= "selectedLedgerInfo.programme" name = "programme"
                      required = "departmentMarker"
                      [disabled]= "!departmentMarker"

          >
            <mat-option *ngFor= "let stat of departmentList" [value]= "stat">
              {{stat}}
            </mat-option>
          </mat-select>
          <mat-error>Programme Required!</mat-error>

        </mat-form-field>
      </div>

      <div class="postingdetail" fxFlex>
        <mat-checkbox  name="facultyMarker" (change)= "checkStat('faculty')" class="example-margin" [(ngModel)]= "facultyMarker">

        </mat-checkbox>
        <mat-form-field fxFlex >
          <mat-label>FACULTY</mat-label>
          <mat-select [(ngModel)]= "selectedLedgerInfo.faculty" name = "faculty"
                      required = "facultyMarker"
                      [disabled]= "!facultyMarker"

          >
            <mat-option *ngFor= "let stat of facultyList" [value]= "stat">
              {{stat}}
            </mat-option>
          </mat-select>
          <mat-error>Faculty Required!</mat-error>

        </mat-form-field>
      </div>

      <div class="postingdetail" fxFlex>
        <mat-checkbox name="levelMarker" (change)= "checkStat('level')" class="example-margin" [(ngModel)]= "levelMarker">

        </mat-checkbox>
        <mat-form-field fxFlex>
          <mat-label>LEVEL</mat-label>
          <mat-select [(ngModel)]="selectedLedgerInfo.level"
                      required= "levelMarker"
                      [disabled]= "!levelMarker"
                      name = "level" >
            <mat-option *ngFor="let stat of Levels" [value]= "stat">
              {{stat}} LEVEL
            </mat-option>
          </mat-select>

        </mat-form-field>
      </div>
      <div class="postingdetail" fxFlex>
        <mat-checkbox name="genderMarker" (change)= "checkStat('gender')" class="example-margin" [(ngModel)]= "genderMarker">

        </mat-checkbox>




        <mat-form-field fxFlex>
          <mat-label>GENDER</mat-label>
          <mat-select [(ngModel)]="selectedLedgerInfo.gender"

                      required="genderMarker"
                      [disabled]= "!genderMarker"
                      name = "gender" >
            <mat-option *ngFor="let stat of Genders" [value]= "stat">
              {{stat}}
            </mat-option>
          </mat-select>
          <mat-error>Gender Required!</mat-error>

        </mat-form-field>
      </div>
      <br>


      <div class="postingdetail" fxFlex>

        <!-- <mat-checkbox  (change)= "checkStat('transacType')" class="example-margin" [(ngModel)]= "transacTypeMarker">

        </mat-checkbox> -->

        <label id="example-radio-group-label">Transaction Type</label>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          required = true
          name = "transacType"

          [(ngModel)]="selectedLedgerInfo.transacType">
          <mat-radio-button class="example-radio-button" value= 1>Charges (Debit)</mat-radio-button>
          <mat-radio-button class="example-radio-button" value= 2>Payment (Credit)</mat-radio-button>
        </mat-radio-group>
      </div>


      <!-- <div fxFlex>
          <mat-checkbox  (change)= "checkStat('studentNo')" class="example-margin" [(ngModel)]= "studentMarker">

          </mat-checkbox>
      <mat-form-field  [appDisable]= "!studentMarker">

          <input matInput  type="text" placeholder="STUDENT NO" #filterValue
          [(ngModel)]=  "selectedStudent" [matAutocomplete]="auto12"
          [formControl]="stateCtrl2"
          name = "studentNo"
          required= "studentMarker"
          >
          <button matSuffix mat-button mat-icon-button>

              <mat-icon *ngIf =  "selectedStudent.studentNo" (click)="clearFilter()">close</mat-icon>
              <mat-icon *ngIf = "!selectedStudent.studentNo" >search</mat-icon>
            </button>

            <mat-hint >Search for student </mat-hint>


          <mat-autocomplete #auto12="matAutocomplete" [displayWith]="displayFn2"
          (optionSelected)= "setStudentNo()"
          >
              <mat-option
              *ngFor= "let state of filteredStates2 | async"
              [value]="state"

              >

                {{state.studentNo}} | {{state.lastName}} | {{state.department}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
      </div> -->
      <!-- </div> -->

    </mat-card>

    <div fxFlex fxLayout="row" fxLayoutAlign="center center" >
      <mat-card fxFlex="50" fxLayout="row" class="mat-elevation-z8" fxLayoutAlign="space-between center">
        <button fxFlex mat-raised-button
                (click)= "advancedPost()"
                class="typicalbutton"
                [disabled]="!guestForm.form.valid"
        ><mat-icon class="matIconSpacing" color="primary">view_column</mat-icon>
          {{debCred()}}
        </button>


        <div fxFlex >
          <div class="container_row" *ngIf= "totalNumberProcessed !==0">
            <div class="layer1">
              <button
                matTooltip="successful auto debit"
                color ="primary"

                mat-icon-button>
                <mat-icon>check_circle_outline</mat-icon>
              </button>



            </div>
            <div class="layer2">
              <!-- <div *ngIf= "totalNumberProcessed !== 0" > -->

              <div>
                <mat-progress-spinner
                  mode="determinate"
                  [color]="color"

                  [value]="value"
                  diameter="45"></mat-progress-spinner>
              </div>
            </div>

          </div>
          <span *ngIf= "totalNumberProcessed !== 0" fxFlex  class="container-shift"> {{totalNumberProcessed}} students posted</span>
        </div>
      </mat-card>
    </div>



  </div>
</form>

