.login-page {
  height: 100%;
  width: 100%;
}

.login-section {
  min-width:700px;
  min-height: 220px;
}

.logo-container {
  height: auto;
  width: 250px;
}

.login-field {
  width: auto;
}

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.courses-panel {
  max-width: 400px;
  margin: 0 auto;

}

.aheader {

  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 20px;
}
